
#navbar{
    position: sticky;
    top: 0;
    background-color: grey;
    
}
#navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#navbar li{
    display: inline;
    margin-right: 20px;
}
#navbar a{
    color: white;
    text-decoration: none;
}
#header {
    position: relative;
    overflow: hidden;
}
#header img{
    position: absolute;
    left: -20px;
    top: -20px;
    
}

